DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="admin"
DATABASE_NAME="private-school-db"

JWT_SECRET="secret"
JWT_EXPIRES_IN="1d"

MAILER_SERVICE=""
MAILER_USER=""
MAILER_PASS=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""